@using ScoutSluzba.Web.ViewModels
@model ScoutSluzba.Web.ViewModels.IgracDodajVM

@{
    ViewData["Title"] = "Dodaj";
}



<div class="content-wrapper p-4">
    <h1 class="text-center"> Dodaj Igraca: </h1>

    <form asp-action="Snimi">
        <input asp-for="IgracID" hidden />

        <div class="form-group">

            <div>
                @Html.HiddenFor(s => s.IgracID)
            </div>

            <div class="form-group">
                <label>Ime: </label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Prezime: </label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Visina: </label>
                <input asp-for="Visina" class="form-control" />
                <span asp-validation-for="Visina" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Tezina: </label>
                <input asp-for="Tezina" class="form-control" />
                <span asp-validation-for="Tezina" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Datum rodjenja: </label>
                <input asp-for="DatumRodjenja" class="form-control" />
                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>Grad: </label>
                <select asp-for="GradID" asp-items="Model.Grad" class="form-control"></select>
                <span asp-validation-for="GradID" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label>Tim: </label>
                <select asp-for="TeamID" asp-items="Model.Team" class="form-control"></select>
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>

            <input type="submit" class="btn btn-outline-success btn-lg" value="Snimi" />
        </div>
    </form>
</div>